<%= link_to 'Allergy info', controller: 'allergens' %>
<%= link_to 'Products', controller: 'products' %>

<h1>Witaj! Na tej stronie dowiesz się więcej o swojej alergii </h1>
<h2>oraz znajdziesz coś pysznego do jedzenia </h2>
