<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @brand.name %>
</p>

<% if current_user.try(:admin?) %>
<%= link_to 'Edit', edit_brand_path(@brand) %> |
<% end %>
<%= link_to 'Back', brands_path %>
